//the medium screen definitions include stuff that should also apply to small screens,
//so the medium screen goes before the small screen
//to prevent it from overriding the properties that the small screen should have
@include mediumScreen {
    main {
        align-items: center;
        text-align: center;
        
        .large-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-navigation,
    div.menu-branding {
        float: none;
        //stretch the menu out,
        //so the main page doesn't leak out from underneath the menu
        width: 100%;
        min-height: 0;
    }

    .menu-navigation {
        height: 80vh;
        font-size: 1.5rem;
        //flex-wrap: nowrap;
        //overflow: hidden;
        //line-height: 0.5;
    }

    .menu-branding {
        height: 20vh;

        .portrait {
            width: 100px;
            height: 100px;
        }
    }

    .information {
        grid-template-areas:
            "portrait-template"
            "additional-information"
            "grid-item-1"
            "grid-item-2"
            "grid-item-3";
        grid-template-columns: 1fr;
    }
    
    .my-projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include smallScreen {
    main {

        h1 {
            color: hotpink;
            //padding-top: 5vh;
        }
    }

    .my-projects {
        grid-template-columns: 1fr;
    }
}

@include largeScreen {
    .my-projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

@include hugeScreen {
    .my-projects {
        grid-template-columns: repeat(4, 1fr);
    }
}
