@import "config";
@import "menu";
//

$footer-height: 30px;
$image-width: 200px;
$image-height: 200px;

* {
    box-sizing: border-box;
}
//

body {
    //@include background;
    background: $primary-color;
    color: magenta;
    height: 100%;
    margin: 0;
    line-height: 1.5;    
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.large-heading {
        font-size: 4rem;
    }

    &.small-heading {
        margin-bottom: 1rem;
        padding: 0.2rem 1rem;
        background: lighten($primary-color, 20%);
    }
}

header {
    //position: absolute;
    position: fixed;

    z-index: 2;
    //puts the header on top of the background,
    //so the lighter, dark gray background stays behind the menu links
    
    width: 100%;
}

.text-secondary {
    color: $secondary-color;

}

a {
    //text-decoration: none;
    color: orange;

    &:visited {
        color: darkorange;
    }

    &:hover {
        color: $secondary-color;
    }
}

main {
    padding: 2rem;
    //min-height: calc(100vh - $footer-height);
    height: 100%;

    .lorem-ipsum {
        background-color: darkslategray;
    }
    
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 10vh;
        }
    }
    
}

.portrait {
    width: $image-width;
    height: $image-height;
    background: $secondary-color;

    &-template {
        color: $primary-color;
        text-align: center;
    }

    //grid-area: portrait-template;
}

.information {
    display: grid;
    grid-template-areas:
    "portrait-template additional-information additional-information"
    "grid-item-1 grid-item-2 grid-item-3";
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    .portrait-template {
        grid-area: portrait-template;
        justify-self: center;
    }

    .additional-information {
        grid-area: additional-information;
    }
    
    .grid-item-1 {
        grid-area: grid-item-1;
    }
    
    .grid-item-2 {
        grid-area: grid-item-2;
    }
    
    .grid-item-3 {
        grid-area: grid-item-3;
    }
    
    .grid-item-1,
    .grid-item-2,
    .grid-item-3 {
        background: lighten($primary-color, 10%);
        color: $secondary-color;
        border: darken($secondary-color, 20%) 2px solid;
        padding-left: 0.2rem;
    }
}

footer {
    text-align: center;
    background: darken($secondary-color, 15%);
    color: $primary-color;
    height: $footer-height;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.my-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;

    .project-image {
        color: violet;
        background: darken($secondary-color, 30%);
        border: 2px darkorange solid;

        &:hover {
            border: 2px orange solid;
        }
    }

    //makes all the images slot into the center of each individual cell,
    //essentially having the same effect as space-between on the container
    .project-item {
        justify-self: center;
    }
}

.button {
    // legacy
    //display: inline-block;
    display: block;
    width: $image-width;

    &-primary {
        @extend .button;
        background: blueviolet;
        color: plum;
    }
    &-secondary {
        @extend .button;
        background: darkmagenta;
    }
}

.contact {

    &-information {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        //align-items: center;
        
        div {
            //Stacks the contact information items if they get too close to each other,
            //so they won't align right next to each other,
            //right before they reach the width in which they should wrap to another line
            //      top right bottom left
            margin: 1rem 2rem 1rem 2rem;
            outline: 2px $secondary-color solid;
            padding: 1rem;

            &:hover {
                outline-color: lighten($secondary-color, 10%);
            }
        }

        &-title {
            color: darken($secondary-color, 10%);
        }
    }
}


@import "screen-size";
